*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}
header {
    background-color: #0973fd;
    color: #fff;
    padding: 20px;
  
   
}

nav ul li a {
    color: #fff;
    text-decoration: none;
   
}

main {
    padding: 20px;
}

.product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.product-image img {
    max-width: 400px;
}

.product-info{
    flex: 1;
    padding: 20px;
    background-color: #f8f9fae7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(245, 142, 142, 0.1);
}

.button {
    background-color: #068bf8;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: backgrond-color 0.3s ease;
}

button:hover {
    background-color: #df8908;
    color: black;
}

factor {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}













